/*
@import;
*/

/*

To change values, just search & replace said values

Default Nav bar height      - 40px. Change this if you've customized its size. Replace ALL 40px with your customized value.
Default Bookmark bar height - 30px. Change this if you've customized its size. Replace ALL 30px with your customized value.

To customize auto hide delay - Replace ALL "5s" with Your preferred seconds delay.

To customize animation speed when hiding - Change ALL 300ms values. Increase milliseconds for slower animations. Decrease for faster.
To customize animation speed when hiding - Change ALL "93%" values in @keyframes accordingly. Increase % for faster animation. Decrease for slower.

SEE a comment BELOW to disable auto hiding Bookmark bar.

*/


@keyframes navbar {
    0%   {height: 40px; max-height: 40px; min-height: 40px;}
    93%  {height: 40px; max-height: 40px; min-height: 40px;}
    100% {height: 0; max-height: 0; min-height: 0;}
}
 
@keyframes navbarHover {
    100% {height: 40px; max-height: 40px; min-height: 40px;}
}
 
@keyframes personalToolbar {
    0%   {height: 30px; max-height: 30px; min-height: 30px;}
    93%  {height: 30px; max-height: 30px; min-height: 30px;}
    100% {height: 0; max-height: 0; min-height: 0;}
}
 
@keyframes personalToolbarHover {
    100% {height: 30px; max-height: 30px; min-height: 30px;}
}
 
@keyframes toolbarIcon {
    0%   {opacity: 100; display: -moz-box;}
    93%  {opacity: 100; display: -moz-box;}
    100% {opacity: 0; display: none;}
}
 
@keyframes toolbarIconHover {
    100% {opacity: 100; display: -moz-box;}
}

:root:not([customizing]) #nav-bar {animation: navbar 200ms forwards !important;}
:root:not([customizing]) #navigator-toolbox:hover #nav-bar {animation: navbarHover 100ms forwards !important;}
 

/* Remove these 2 line if you want to disable auto hiding Bookmark bar. */
:root:not([customizing]) #PersonalToolbar {animation: personalToolbar 200ms forwards !important;}
:root:not([customizing]) #navigator-toolbox:hover #PersonalToolbar {animation: personalToolbarHover 100ms forwards !important;}
 
:root:not([customizing]) #nav-bar toolbarbutton .toolbarbutton-icon {animation: toolbarIcon 200ms forwards !important;}
:root:not([customizing]) #navigator-toolbox:hover #nav-bar toolbarbutton .toolbarbutton-icon {animation: toolbarIconHover 100ms forwards !important;}
 
:root:not([customizing]) #navigator-toolbox #urlbar {--urlbar-toolbar-height: 40px !important}




/* Remove space to left of toolbar  */
.titlebar-spacer[type="pre-tabs"] {
    display: none !important;
}

/* Remove Close, Min, Max buttons */
.titlebar-buttonbox .titlebar-button { visibility: hidden !important; }

/* Customize window action buttons ( Close, Min, Max )
.titlebar-button {
    margin: 7px !important;
    margin-left: 0 !important;
    margin-right: 5px !important;
    border-radius: 4px !important;
} */


/* Apply dimmed background for inactive tabs 
.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected=true], [multiselected]) {
    background-color: color-mix(in srgb, currentColor 12%, transparent);
}

.tabbrowser-tab>.tab-stack>.tab-background:not([selected=true], [multiselected]) {
    background-color: color-mix(in srgb, currentColor 6%, transparent);
}
*/


/* Make all tabs small except selected one 
.tabbrowser-tab:not([selected=true]):not([pinned=true]) {  
    max-width: 100px !important;
} 
*/

/* Hide tab close button */
#TabsToolbar .close-icon {
    display: none !important;
}

/* Unhide the tab close button on hover when it is the selected tab and not pinned */
#TabsToolbar .tabbrowser-tab[selected=true]:not([pinned=true]):hover .close-icon {
    display: inline-block !important;
}

/* Reduce spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] { margin-inline-start: initial !important; }
